{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Welcome to Kanbanoise</h1>
            </div>
        </div>
    </div>
{% endblock %}

