parameters:
    database_host: 127.0.0.1
    database_name: symfony
    database_password: ~
    database_port: ~
    database_user: root
    mailer_host: 127.0.0.1
    mailer_password: ~
    mailer_transport: smtp
    mailer_user: ~
    secret: ThisTokenIsNotSoSecretChangeIt
