{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-bordered" data-fixed-columns="true">
      <thead>
        <tr>
            {% for status in statuses %}
                {% if status.wipLimit is null %}
                  <th style="width: {{100/(statuses|length)}}%;" class="text-center">{{ status.name }}</th>
                {% else %}
                  <th style="width: {{100/(statuses|length)}}%;" class="text-center">{{ status.name }} ({{ status.wipLimit}})</th>
                {% endif %}
            {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr class="bg-danger">
        {% for status in statuses %}
            <td class="p-2">
                {% for card in bugs[status.name] %}
                    {% include 'card/_card.html.twig' with {'card' : card, 'color' : 'indianred'} %}
                {% endfor %}
            </td>
        {% endfor %}
        </tr>
        <tr>
        {% for status in statuses %}
            <td class="p-2">
                {% for card in cards[status.name] %}
                    {% include 'card/_card.html.twig' with {'card' : card, 'color' : 'lightblue'} %}
                {% endfor %}
            </td>
        {% endfor %}
        </tr>
      </tbody>
    </table>
{% endblock %}
