{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <ul>
                    <li>numberOfBoards : {{ numberOfBoards }}</li>
                    <li>numberOfMembers : {{ numberOfMembers }}</li>
                    <li>numberOfProject : {{ numberOfProject }}</li>
                    <li>numberOfTasks : {{ numberOfTasks }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

